<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>MCS.Plugin.Message.Email</PluginId>
  <DisplayName>邮件通知</DisplayName>
  <ClassFullName>MCS.Plugin.Message.Email.Service,MCS.Plugin.Message.Email</ClassFullName>
  <Description>邮件通知插件</Description>
  <Type>3,6</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.0.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</PluginInfo>