<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <SupportPlatfoms>
    <PlatformType>WeiXinSmallProgram</PlatformType>
  </SupportPlatfoms>
  <AppId>w7</AppId>
  <AppSecret>822be</AppSecret>
  <MCHID>122</MCHID>
  <Key>84EC635F</Key>
  <Logo>wx_logo.png</Logo>
  <pkcs12>apiclient_cert.p12</pkcs12>
</Config>