<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPay_JSAPI</PluginId>
  <DisplayName>微信公众号支付（用于微信商城）</DisplayName>
  <ClassFullName>MCS.Plugin.Payment.WeiXinPay.Service,MCS.Plugin.Payment.WeiXinPay</ClassFullName>
  <Description>微信支付</Description>
  <Type>1</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.1.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</PluginInfo>