<?xml version="1.0" encoding="utf-8" ?>
<StrategyInfo>
  <PluginId>MCS.Strategy.AspNetCoreIO</PluginId>
  <DisplayName>AspNetCoreIO</DisplayName>
  <ClassFullName>MCS.Strategy.AspNetCoreIO.AspNetCoreIO,MCS.Strategy.AspNetCoreIO</ClassFullName>
  <Description>AspNetCoreIO</Description>
  <Type>0</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.0.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</StrategyInfo>