<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>MCS.Plugin.OAuth.QQ</PluginId>
  <DisplayName>QQ</DisplayName>
  <ClassFullName>MCS.Plugin.OAuth.QQ.Service,MCS.Plugin.OAuth.QQ</ClassFullName>
  <Description>QQ信任登录插件</Description>
  <Type>0</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.0.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</PluginInfo>