@model List<MCS.DTO.Navigation>

@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    @item.Name
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <partial src="NavigationItem" data="@item.Children"></partial>
            </ul>
        </li>
    }
}