<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <AppId>w7</AppId>
  <AppSecret>822be</AppSecret>
  <MCHID>12</MCHID>
  <Key>84F</Key>
  <Logo>wx_logo.png</Logo>
  <HelpImage>phone-bg.png</HelpImage>
  <GateWay><![CDATA[https://api.mch.weixin.qq.com/pay/unifiedorder]]></GateWay>
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
</Config>