<div class="error-page">
    <h2 class="headline text-danger">500</h2>
    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! 服务器发生一些错误。</h3>
        <p>
            我们会马上解决这个问题。同时，您可以返回到 <a href="../../index.html">返回到仪表板</a> 或尝试使用搜索表单。
        </p>
        <form class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="搜索">

                <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-danger">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.input-group -->
        </form>
    </div>
</div>
<!-- /.error-page -->