@using MCS.Entities;
@{
    List<MCS.DTO.NavigationModel> Navs = (List<MCS.DTO.NavigationModel>)ViewBag.Navs;
    ManagerInfo Manager = (ManagerInfo)ViewBag.Manager;
}

@functions{
    private string GetChildNav(long parentId)
    {
        string html = "";
        return html;
    }
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="brand-link">
        <img src="~/lib/adminlte/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle">
        <span class="brand-text font-weight-light">MiZone Commerce</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@(Manager.Avatars??"/lib/adminlte/img/user2-160x160.jpg")" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@Manager.RealName</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <partial name="_NavigationItem" for="@Navs" />
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>