<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>Alipay_Wap</PluginId>
  <DisplayName>支付宝H5支付</DisplayName>
  <ClassFullName>MCS.Plugin.Payment.Alipay_WAP.Service,MCS.Plugin.Payment.Alipay_WAP</ClassFullName>
  <Description>支付宝支付</Description>
  <Type>1</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.0.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</PluginInfo>