@model MCS.DTO.ManagerNavigationModel
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-primary btn-block mb-3 btn-action-back">返回</a>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <form asp-controller="Navigation" asp-action="Edit" method="post">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">编辑信息</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="row">
                        <input asp-for="Id" type="hidden" />
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="">
                                <span asp-validation-for="Name" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ParentId"></label>
                                <select asp-for="ParentId" asp-items="ViewBag.Navigations" class="form-control single-select">
                                    <option value="0">无父级导航</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="SubTitle"></label>
                                <input asp-for="SubTitle" class="form-control" placeholder="">
                                <span asp-validation-for="SubTitle" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Icon"></label>
                                <input asp-for="Icon" class="form-control" placeholder="">
                                <span asp-validation-for="Icon" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Component"></label>
                                <input asp-for="Component" class="form-control" placeholder="">
                                <span asp-validation-for="Component" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Path"></label>
                                <input asp-for="Path" class="form-control" placeholder="">
                                <span asp-validation-for="Path" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="SortId"></label>
                                <input asp-for="SortId" class="form-control" placeholder="">
                                <span asp-validation-for="SortId" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Status"></label>
                                <input asp-for="Status" class="form-control" placeholder="">
                                <span asp-validation-for="Status" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Remark"></label>
                                <input asp-for="Remark" class="form-control" placeholder="">
                                <span asp-validation-for="Remark" class="error invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Actions"></label>
                                <select asp-for="Actions" asp-items="Model.Actions.Select(a=>new SelectListItem() {  Text=a.Name, Value=a.ActionId.ToString(), Selected=a.Selected})" multiple="multiple" class="form-control single-select">
                                    <option value="0">无父级导航</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-default"><i class="fas fa-pencil-alt"></i> 保存</button>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </form>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts{
    <script src="~/lib/mcs/jquery.validate.unobtrusive.ajax.js"></script>
    <script src="~/js/admin/navigation/edit.js"></script>
}