@model MCS.DTO.NavigationModel
<div class="row">
    <div class="col-md-3">
        <a href="mailbox.html" class="btn btn-primary btn-block mb-3">返回</a>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <form asp-controller="Navigation" asp-action="Edit" method="post">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">编辑信息</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="row">
                        <input asp-for="Id" type="hidden" />
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Name" />
                                <input asp-for="Name" class="form-control" placeholder="标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">副标题</label>
                                <input asp-for="SubTitle" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">图标</label>
                                <input asp-for="Icon" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">区域</label>
                                <input asp-for="Areas" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">控制器</label>
                                <input asp-for="Controllers" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">页面</label>
                                <input asp-for="Views" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">模块</label>
                                <input asp-for="Component" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">路径</label>
                                <input asp-for="Path" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">类型</label>
                                <enums asp-id="property" asp-enum="@(MCS.CommonModel.NavigationType.Admin)" asp-value="@Model.Type" asp-valuetype="1" class="form-control single-select">
                                </enums>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">排序</label>
                                <input asp-for="SortId" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">状态</label>
                                <input asp-for="Status" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="Name">备注</label>
                                <input asp-for="Remark" class="form-control" placeholder="副标题">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-default"><i class="fas fa-pencil-alt"></i> 保存</button>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </form>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section Scripts{
    <script src="~/lib/mcs/jquery.validate.unobtrusive.ajax.js"></script>
}