@{

    Dictionary<int, string> NavigationTypes = ViewBag.NavigationTypes;
}
<div class="row">
    <div class="col-md-3">
        <a asp-area="Admin" asp-controller="Navigation" asp-action="Edit" class="btn btn-primary btn-block mb-3">新增</a>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">类型</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column nav-type">
                    <li class="nav-item active" data-type-id="0">
                        <a href="#" class="nav-link">
                            <i class="fas fa-inbox"></i>&nbsp;全部
                        </a>
                    </li>
                    @foreach (var item in NavigationTypes)
                    {
                        <li class="nav-item" data-type-id="@item.Key">
                            <a href="#" class="nav-link">
                                <i class="fas fa-inbox"></i>&nbsp;@item.Value
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">导航</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="cardbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle check-all">
                        <i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                </div>
                <div class="table-responsive cardbox-body">
                    <ul class="nav nav-pills flex-column tree-list nav-list">
                    </ul>
                    <!-- /.table -->
                </div>
                <!-- /.card-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle check-all">
                        <i class="far fa-square"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section Scripts{
    <script src="~/js/admin/navigation/list.js"></script>
}
