<?xml version="1.0"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SupportPlatfoms>
    <PlatformType>PC</PlatformType>
  </SupportPlatfoms>
  <Partner>26</Partner>
  <Key>35zn</Key>
  <GateWay>https://openapi.alipay.com/gateway.do</GateWay>
  <VeryfyUrl>https://mapi.alipay.com/gateway.do?service=notify_verify&amp;</VeryfyUrl>
  <AlipayAccount>h</AlipayAccount>
  <Logo>logo.gif</Logo>
</Config>