<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>MCS.Plugin.Message.SMS</PluginId>
  <DisplayName>手机短信</DisplayName>
  <ClassFullName>MCS.Plugin.Message.SMS.Service,MCS.Plugin.Message.SMS</ClassFullName>
  <Description>短信通知插件</Description>
  <Type>3,5</Type>
  <Author>MCS</Author>
  <Version>1.0</Version>
  <MinHimallVersion>1.0.0</MinHimallVersion>
  <MaxHimallVersion></MaxHimallVersion>
  <Enable>0</Enable>
</PluginInfo>