<?xml version="1.0" encoding="utf-8" ?>
<PluginInfo>
  <PluginId>WeiXinPayWap</PluginId>
  <DisplayName>微信H5支付</DisplayName>
<ClassFullName>MCS.Plugin.Payment.WeiXinPayWap.Service,MCS.Plugin.Payment.WeiXinPayWap</ClassFullName>
  <Description>微信支付</Description>
  <Type>1</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.1.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</PluginInfo>