<?xml version="1.0" encoding="utf-8" ?>
<StrategyInfo>
  <PluginId>MCS.Strategy.AspNetCoreCache</PluginId>
  <DisplayName>AspNetCoreCache</DisplayName>
  <ClassFullName>MCS.Strategy.AspNetCoreCache,MCS.Strategy.AspNetCoreCache</ClassFullName>
  <Description>AspNetCoreCache</Description>
  <Type>0</Type>
  <Author>MiZone</Author>
  <Version>1.0</Version>
  <MinVersion>1.0.0</MinVersion>
  <MaxVersion></MaxVersion>
  <Enable>0</Enable>
</StrategyInfo>